html {
  padding: .75em .09375em;
}
body {
  font-size: 1.188em;
  text-align: center;
  background-color: #cc0000;
  padding: 15px;
}
h1 {
  font-family: "Roboto Slab", serif;
  font-size: 2.813em;
  font-style: bold;
}
p {
  font-size: 1.188em;
  padding: 16px;
}
label {
  font-size: 1.583em;
}
li {
  padding: 10px;
}
input {
  text-align: center;
  width: 75%;
  margin: 10px 0;
  padding: 20px;
  border-style: solid;
  border-radius: 20px 20px 20px 20px;
}
select {
  padding: 2.5px;
  margin: 15px;
}
img {
  padding: 25px;
  width: 25%;
  height: auto;
}

@media screen and (min-width: 667px){
}

@media screen and (min-width: 1024px) {
}
