/*
  Using 19px/1.333 modular scale
  http://www.modularscale.com/?19&px&1.333&web&text
*/

html {
  padding: .75em .09375em;
}
body {
  font-family: 'Merriweather', serif;
  font-size: 1.188em;
  text-align: center;
  background-color: #cc0000;
  padding: 15px;
}
h1 {
  font-size: 2.813em;
}
p {
  font-size: 1.188em;
  padding: 16px;
}
label {
  font-size: 1.583em;
}
li {
  padding: 10px;
}
input {
  text-align: center;
  width: 75%;
  margin: 10px 0;
  padding: 20px;
  border-style: solid;
  border-radius: 20px 20px 20px 20px;
}
select {
  padding: 2.5px;
  margin: 15px;
}
.submit {
  text-align: center;
  background-color: #dbdbdb;
}
.submit:hover {
  background-color: white;
}
img {
  padding: 25px;
  width: 25%;
  height: auto;
}

@media screen and (min-width: 667px){
  body {
    padding-top: 75px;
  }
  h1 {
    padding-bottom: 10px;
  }
  input {
    text-align: left;
    width: 50%;
    padding: 25px 50px;
    border-style: dashed;
    border-color: #222222;
    border-width: 5px;
  }
  .submit {
    border-style: solid;
    border-color: #222222;
  }
  img {
    padding: 85px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    padding-top: 0px;
  }
  h1 {
    font-size: 2.813em;
  }
  label {
    font-size: 2.11em;
  }
  p {
    font-size: 1.583em;
  }
  img {
    padding: 75px;
    width: 15%;
    height: auto;
  }
}
